body {
  -webkit-text-size-adjust: none;
  position: relative;
  color: #000;
  font: 16px/18px 'calibri', 'Tahoma', sans-serif;
}
*,
:before,
:after {
  box-sizing: border-box;
}
a,
button,
input,
textarea {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
  transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  color: inherit;
  font: inherit;
  text-decoration: none;
  text-transform: inherit;
}
a:hover,
button:hover {
  opacity: 0.8;
}
input[type="text"],
textarea {
  cursor: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
span {
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: block;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
sup {
  position: relative;
  top: -5px;
  font-size: 70%;
}
.clear:after {
  width: 100%;
  height: 0px;
  clear: both;
  display: block;
  content: "";
}
.buttons {
  line-height: 0;
  text-align: center;
}
.overflow {
  overflow: hidden;
}
.hidden {
  display: none;
}
.align {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.inline-table {
  width: 100%;
  display: inline-table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
/* new page */
.font-uppercase {
  text-transform: uppercase;
}
.color-black {
  color: #000;
}
.color-light-grey {
  color: #ced6e1;
}
.color-dark-grey {
  color: #666666;
}
.text-title {
  font: 30px/36px 'calibri', 'Tahoma', sans-serif;
}
.text-title.with-border {
  padding: 0 0 5px;
  border-bottom: 1px solid #e6e6e6;
}
.text-title.f21 {
  font: 21px/24px 'calibri', 'Tahoma', sans-serif;
}
.text-title.f24 {
  font: 24px/28px 'calibri', 'Tahoma', sans-serif;
}
.text-title a {
  color: #3399ff;
  text-decoration: underline;
}
.text-title a:hover {
  text-decoration: none;
}
.text-title .text-price {
  margin: 0 6px;
}
.text-title .fa {
  vertical-align: middle;
}
.text-name {
  font: 18px/22px 'calibri', 'Tahoma', sans-serif;
}
.text-name.f12 {
  font: 12px/12px 'calibri', 'Tahoma', sans-serif;
}
.text-name.f14 {
  font: 14px/17px 'calibri', 'Tahoma', sans-serif;
}
.text-name.f15 {
  font: 15px/18px 'calibri', 'Tahoma', sans-serif;
}
.text-name.f20 {
  font: 20px/24px 'calibri', 'Tahoma', sans-serif;
}
.text-name a {
  color: #3399ff;
  text-decoration: underline;
}
.text-name a:hover {
  text-decoration: none;
}
.text-name a .fa {
  font-size: 13px;
  vertical-align: middle;
}
.text-text {
  color: #666666;
  font: 14px/18px 'calibri', 'Tahoma', sans-serif;
}
.text-list {
  margin: 18px 0;
  font: 15px/18px 'calibri', 'Tahoma', sans-serif;
}
.text-list:first-child {
  margin-top: 0;
}
.text-list:last-child {
  margin-bottom: 0;
}
.text-list ul li {
  padding: 0 0 0 20px;
  position: relative;
}
.text-list ul li:before {
  width: 20px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 0;
  color: #bcd6f0;
  content: "–";
}
.text-price {
  background: #ffe493;
  padding: 5px 8px;
  display: inline-block;
  color: #4b545c;
  font: bold 24px/30px 'calibri', 'Tahoma', sans-serif;
}
.text-price .fa-rub {
  font-size: 19px;
}
.text-type {
  padding: 31px 0 31px 89px;
  position: relative;
  color: #ffffff;
  font: 24px/28px 'calibri', 'Tahoma', sans-serif;
  text-transform: uppercase;
}
.text-type .span {
  background: #3399ff;
  padding: 1px 0 3px 10px;
  position: relative;
}
.text-type .span:before {
  border: solid transparent;
  border-width: 16px 0 16px 15px;
  border-left-color: #3399ff;
  position: absolute;
  top: 0;
  left: 100%;
  content: "";
}
.text-type .fa {
  width: 94px;
  height: 94px;
  border: 2px solid #3399ff;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  line-height: 90px;
}
.text-arrow {
  color: #84a0bc;
  font: 18px/22px 'calibri', 'Tahoma', sans-serif;
  text-transform: uppercase;
}
.text-arrow .span {
  background: #e8f3f6;
  padding: 6px 10px 4px 14px;
  position: relative;
}
.text-arrow .span:before {
  border: solid transparent;
  border-width: 16px 0 16px 15px;
  border-left-color: #e8f3f6;
  position: absolute;
  top: 0;
  left: 100%;
  content: "";
}
.body-overflow {
  overflow: hidden;
}
.header {
  color: #fff;
}
.header .header-links {
  margin: 0 0 0 30px;
  display: inline-block;
  vertical-align: top;
}
.header-link {
  min-height: 32px;
  margin: 0 0 0 15px;
  padding: 9px 0 9px 22px;
  position: relative;
  font: 12px/14px 'calibri', 'Tahoma', sans-serif;
  text-decoration: underline;
}
.header-link:first-child {
  margin-left: 0;
}
.header-link.invert {
  padding-left: 0;
  padding-right: 22px;
}
.header-link.invert .fa {
  left: auto;
  right: 0;
}
.header-link:hover {
  text-decoration: none;
}
.header-link .fa {
  margin: -6px 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 13px;
}
.form-section {
  background: #493d6a url(../images/bg_form.jpg) center 0 no-repeat;
  background-size: cover;
  padding: 55px 0 70px;
  color: #fff;
}
.form-section-col {
  width: 300px;
  float: left;
}
.form-section-col:first-child {
  width: 800px;
  margin: 0 67px 0 0;
}
.form-section .heading {
  margin: 0 0 20px;
}
.form-section .heading .image {
  width: 210px;
  margin: 8px 20px 0 0;
  float: left;
}
.form-section .form-blocks {
  margin: 39px 0 0;
}
.form-section .form-blocks:first-child {
  margin-top: 0;
}
.form-section .files-blocks {
  margin: 212px 0 0;
}
.form-section .files-blocks .button {
  margin: 25px 0 0;
}
.form-row {
  margin: 28px 0 0;
}
.form-row:first-child {
  margin-top: 0;
}
.form-cols {
  margin: 0 -13px;
}
.form-col {
  width: 100%;
  padding: 0 13px;
  float: left;
}
.form-col.w-third {
  width: 33.33333%;
}
.form-col.w-two-third {
  width: 66.66666%;
}
.input-block .input {
  width: 100%;
  background: #fff;
  padding: 11px 20px;
  border-radius: 3px;
  color: #000;
  font: 18px/22px 'calibri', 'Tahoma', sans-serif;
  letter-spacing: 0.1em;
}
.input-block textarea.input {
  height: 113px;
  resize: none;
  letter-spacing: 0;
}
.form-notes {
  margin: 36px 0 0;
}
.files-input {
  min-height: 30px;
  margin: 0 0 0 -40px;
  padding: 11px 0 0 40px;
  position: relative;
  overflow: hidden;
  color: #ced6e1;
}
.files-input .fa-paperclip {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 34px;
}
.files-input .border {
  border-bottom: 1px solid #ced6e1;
}
.files-input .input {
  padding: 500px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 3;
}
.files-block {
  margin: 1px 0 0;
  font: 16px/18px 'calibri', 'Tahoma', sans-serif;
}
.files-block:first-child {
  margin-top: 0;
}
.files-block-wr {
  padding: 0 30px 2px 0;
  display: inline-block;
  position: relative;
}
.files-block .link-delete {
  position: absolute;
  top: 0;
  right: 0;
}
.link-delete {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100%;
  color: #918aae;
}
.link-delete .fa-times {
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 12px;
}
.button {
  background: #ffe493;
  padding: 15px 35px;
  border-radius: 5px;
  color: #4b545c;
  font: bold 18px/20px 'calibri', 'Tahoma', sans-serif;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
.items-section {
  padding: 33px 0 30px;
}
.section-heading {
  margin: 0 0 30px;
  padding: 0 0 12px;
  border-bottom: 1px solid #e6e6e6;
}
.section-heading.bg-blue {
  margin: 0;
  background: #e8f3f6;
  padding: 45px 0;
  border-bottom: none;
}
.section-heading.bg-blue .text-title.f24 {
  margin: 0 0 12px;
}
.section-heading.no-border {
  margin: 0 0 25px;
  padding: 0;
  border-bottom: none;
}
.section-heading .text-title.with-border {
  margin: 0 0 18px;
}
.set-block .image {
  width: 455px;
  height: 353px;
  background: #e8f3f6;
  border-radius: 50px;
  float: left;
  line-height: 353px;
  text-align: center;
}
.set-block .image img {
  max-height: 87%;
  vertical-align: middle;
}
.set-block .info {
  width: 745px;
  float: right;
}
.set-block .text-type {
  margin: 0 0 4px;
}
.set-block .text-title.f24 {
  margin: 0 0 11px;
}
.set-block .set-partners {
  margin-top: 5px;
}
.set-partners {
  margin: -25px 0 0 -35px;
  font: 0/0 inherit;
}
.set-partner {
  margin: 25px 0 0 35px;
  display: inline-block;
}
.fa {
  font-size: inherit;
}
.fa.my {
  text-align: center;
}
.fa.my:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.fa.my-icon-1:before {
  width: 43px;
  height: 51px;
  background: transparent url(../images/icons.png) 0px 0px no-repeat;
}
.fa.my-icon-2:before {
  width: 48px;
  height: 80px;
  background: transparent url(../images/icons.png) 0 -68px no-repeat;
}
.fa.my-icon-3:before {
  width: 58px;
  height: 59px;
  background: transparent url(../images/icons.png) 0 -178px no-repeat;
}
.more-block {
  margin: 15px 0;
  position: relative;
  text-align: center;
}
.more-block:before {
  width: 100%;
  height: 1px;
  background: #e8f3f6;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  content: "";
}
.more-block .button-more {
  border: solid #fff;
  border-width: 0 20px;
  z-index: 3;
}
.button-more {
  background: #e8f3f6;
  padding: 18px 40px;
  position: relative;
  color: #3399ff;
  font: 16px/20px 'calibri', 'Tahoma', sans-serif;
  text-transform: uppercase;
}
.button-more .num {
  font-size: 24px;
}
.ideas-section {
  margin: 50px 0 30px;
}
.ideas-section .section-heading {
  margin: 0 0 40px;
}
.idea-blocks {
  margin: -34px -10px 0;
  font-size: 0;
}
.idea-block {
  width: 33.33333%;
  margin: 34px 0 0;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  font: 16px/18px 'calibri', 'Tahoma', sans-serif;
}
.idea-block .text-name {
  margin: 0 0 17px;
}
.idea-block .text-name.f15 {
  margin: 0;
}
.idea-block .image {
  margin: 3px 0 7px;
}
.section-divider {
  height: 1px;
  margin: 40px auto;
  background: #e6e6e6;
}
.category-section {
  margin: 30px 0;
}
.category-blocks {
  margin: -8px 0 0 -4px;
}
.category-block {
  width: 314px;
  height: 316px;
  margin: 8px 0 0 4px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  line-height: 316px;
  text-align: center;
}
.category-block.info-top .info {
  vertical-align: top;
}
.category-block .image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 0;
}
.category-block .image img {
  width: 100%;
  height: 100%;
}
.category-block .info {
  padding: 19px 15px 15px;
  position: relative;
  z-index: 3;
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;
}
.category-block .text-title.f24 {
  margin: 0 0 9px;
}
.link-full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 17;
}
.concepts-section {
  margin: 30px 0;
}
.concepts-section .section-heading {
  margin: 0 0 45px;
}
.concept-blocks {
  margin: -40px -17px 0;
  font-size: 0;
}
.concept-block {
  width: 50%;
  margin: 40px 0 0;
  padding: 0 17px;
  display: inline-block;
  vertical-align: top;
  font: 16px/18px 'calibri', 'Tahoma', sans-serif;
}
.concept-block .text-arrow {
  margin: 0 0 23px;
}
.concept-block .text-name.f14 {
  margin: 24px 0 0;
}
.location-section {
  margin: 20px 0;
}
.location-blocks {
  padding: 19px 0 0;
  border-top: 1px solid #e6e6e6;
}
.location-blocks .image {
  width: 475px;
  margin: 0 10px 0 0;
  float: left;
  text-align: right;
}
.location-blocks .info {
  padding: 18px 0 0;
}
.location-blocks .text-title.f21 {
  margin: 0 0 17px;
}
.location-blocks .image-metro {
  margin: 17px 0 0;
}
.image-metro {
  line-height: 0;
}
.question-section {
  margin: 20px 0;
}
.question-section .section-heading {
  margin: 0 0 36px;
}
.question-section .section-heading .text-title.f24 {
  margin: 0 0 10px;
}
.question-blocks-wr {
  background: #e8f3f6 url(../images/bg_question.jpg) center 0 no-repeat;
  background-size: cover;
  padding: 39px 40px 58px;
  text-align: center;
}
.question-block {
  min-width: 210px;
  margin: 0 20px;
  padding: 112px 0 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #909dc0;
}
.question-block.icon-1:before {
  background: url(../images/icons_question.png) 0 0 no-repeat;
}
.question-block.icon-2:before {
  background: url(../images/icons_question.png) -146px 0 no-repeat;
}
.question-block.icon-3:before {
  background: url(../images/icons_question.png) -291px 0 no-repeat;
}
.question-block:before {
  width: 96px;
  height: 96px;
  margin: 0 0 0 -48px;
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
}
.question-block .text-name {
  margin: 8px 0 0;
}
.question-block .text-name:first-child {
  margin-top: 0;
}
.question-block a {
  color: #3399ff;
  text-decoration: underline;
}
.question-block a:hover {
  text-decoration: none;
}
/*responsive undefitied@gmail.com*/
.toShow1024,
.toShow800,
.toShow600,
.toShow480,
.toShow320 {
  display: none;
}
@media screen and (max-width: 1310px) {
  .toShow1024 {
    display: block;
  }
  .toHide1024 {
    display: none;
  }
  .width {
    width: 956px;
  }
  .header .header-links {
    margin: 0 0 0 15px;
  }
  .header_nav_main {
    margin: 0 0 0 15px;
  }
  .header_nav_main ul li a {
    padding: 15px 10px;
  }
  .header-link span {
    display: none;
  }
  .header-link {
    margin: 0 0 0 15px;
  }
  .header-link .fa {
    margin: -10px 0 0;
    font-size: 21px;
  }
  .header_categories_nav .width {
    display: block;
  }
  .header_categories_nav ul {
    padding: 0;
    float: left;
    display: block;
  }
  .header_categories_nav ul li {
    font-size: 14px;
  }
  .header_categories_nav ul li a {
    padding: 17px 8px 16px;
  }
  .form-section {
    background-image: url(../images/bg_form_mobile.jpg);
  }
  .form-section-col {
    width: auto;
    max-width: 800px;
    float: none;
  }
  .form-section-col:first-child {
    width: auto;
    margin: 0;
  }
  .form-section .files-blocks {
    margin: 0 0 0 40px;
  }
  .items-section .section-heading {
    margin: 0 0 15px;
  }
  .set-block .text-type {
    margin: 0 0 14px;
  }
  .set-block .image {
    width: 32%;
    height: 237px;
    line-height: 237px;
  }
  .set-block .info {
    width: 66%;
  }
  .category-block {
    width: 233px;
    height: 234px;
    line-height: 234px;
  }
  .category-block .info {
    padding: 8px 9px 10px;
  }
  .location-blocks .image {
    width: 315px;
  }
  .location-blocks .info {
    padding: 0;
  }
}
@media screen and (max-width: 985px) {
  .toShow800 {
    display: block;
  }
  .toHide800 {
    display: none;
  }
  .width {
    width: 760px;
  }
  .header_nav_main {
    margin: 0;
  }
  .header_nav_main ul li.dropdown a {
    padding-left: 35px;
  }
  .header_nav_main ul li.active a:after {
    display: none;
  }
  .category-block {
    width: 184px;
    height: 184px;
    line-height: 184px;
  }
  .question-block {
    min-width: 0;
    width: 180px;
  }
}
@media screen and (max-width: 785px) {
  .toShow600 {
    display: block;
  }
  .toHide600 {
    display: none;
  }
  .width {
    width: 560px;
  }
  .form-row {
    margin: 16px 0 0;
  }
  .form-col {
    width: 100% !important;
    margin: 10px 0 0;
  }
  .form-col:first-child {
    margin-top: 0;
  }
  .category-block {
    width: 276px;
    height: 276px;
    line-height: 276px;
  }
}
@media screen and (max-width: 585px) {
  .toShow480 {
    display: block;
  }
  .toHide480 {
    display: none;
  }
  .width {
    width: auto;
    padding: 0 15px;
  }
  .form-section {
    padding: 15px 0 34px;
  }
  .form-section .heading {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #b1aeb8;
  }
  .form-section .heading .text-title {
    font: 24px/29px 'calibri', 'Tahoma', sans-serif;
  }
  .form-section .form-blocks {
    margin: 18px 0 0;
  }
  .set-block .image {
    width: auto;
    height: 225px;
    margin: 0 0 17px;
    float: none;
    line-height: 225px;
  }
  .set-block .info {
    width: auto;
    float: none;
  }
  .text-price {
    padding: 4px 6px;
    font: bold 18px/22px 'calibri', 'Tahoma', sans-serif;
  }
  .text-price .fa-rub {
    font-size: 16px;
  }
  .more-block .button-more {
    width: 100%;
    border-width: 0;
  }
  .ideas-section {
    margin: 16px 0 30px;
  }
  .section-divider {
    margin: 26px auto;
  }
  .category-section {
    margin: 16px 0;
  }
  .category-section .section-heading {
    margin: 0 0 17px;
  }
  .category-blocks {
    margin: 0;
  }
  .category-block {
    width: auto;
    height: 316px;
    margin: 5px -15px 0;
    display: block;
    line-height: 316px;
  }
  .category-block:first-child {
    margin-top: 0;
  }
  .category-block .info {
    padding: 20px 9px 17px;
  }
  .concepts-section {
    margin: 16px 0;
  }
  .concepts-section .section-heading {
    margin: 0 0 20px;
  }
  .concepts-section .section-heading .text-title {
    margin: 0 0 6px;
    font: 24px/28px 'calibri', 'Tahoma', sans-serif;
  }
  .concept-blocks {
    margin: 0;
  }
  .concept-block {
    width: auto;
    margin: 19px 0 0;
    padding: 0;
    display: block;
  }
  .concept-block:first-child {
    margin-top: 0;
  }
  .concept-block .text-arrow {
    margin: 0 25px 14px 0;
  }
  .concept-block .text-arrow .span {
    min-height: 54px;
  }
  .concept-block .text-arrow .span:before {
    border-width: 27px 0 27px 25px;
  }
  .location-blocks {
    padding: 37px 0 0;
  }
  .location-blocks .image {
    width: auto;
    margin: 0 0 16px;
    float: none;
    text-align: center;
  }
  .location-blocks .text-title.f21 {
    margin: 0 0 6px;
  }
  .location-blocks .image-metro {
    margin: 11px 0 0;
  }
  .question-section {
    margin: 33px 0;
  }
  .question-section:last-child {
    margin-bottom: 0;
  }
  .question-blocks-wr {
    margin: 0 -15px;
    padding: 29px 15px 27px;
  }
  .question-block {
    width: auto;
    min-height: 65px;
    margin: 35px 0 0;
    padding: 0 0 0 90px;
    display: block;
    line-height: 65px;
    text-align: left;
  }
  .question-block:first-child {
    margin-top: 0;
  }
  .question-block:before {
    margin: 0;
    -webkit-transform: scale(0.7);
    top: -16px;
    left: -6px;
  }
  .question-block .text-name {
    margin: 0;
  }
  .text-title.with-border {
    padding: 0 0 8px;
  }
  .section-heading .text-title.with-border {
    margin: 0 0 15px;
  }
  .ideas-section .section-heading {
    margin: 0 0 20px;
  }
  .idea-blocks {
    margin: 0;
  }
  .idea-block {
    width: auto;
    margin: 21px 0 0;
    padding: 0;
    display: block;
  }
  .idea-block.float-left {
    float: none;
  }
  .idea-block:first-child {
    margin-top: 0;
  }
  .idea-block .image {
    margin: 0 0 4px;
  }
}
@media screen and (max-width: 465px) {
  .toShow320 {
    display: block;
  }
  .toHide320 {
    display: none;
  }
  .header .header-links.toHide320 {
    display: none;
  }
  .phone_number {
    font-size: 18px;
  }
  .header_mobile_menu {
    margin: 0 -15px 0 0;
  }
  .text-type {
    padding: 20px 0 20px 58px;
    font: 16px/20px 'calibri', 'Tahoma', sans-serif;
  }
  .text-type .span {
    padding: 0 4px 1px 7px;
  }
  .text-type .span:before {
    border-width: 11px 0 9px 11px;
  }
  .text-type .fa {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .text-type .fa:before {
    -webkit-transform: scale(0.6);
  }
  .text-type .fa.my-icon-2:before {
    position: relative;
    top: -9px;
  }
  .text-type .fa.my-icon-3:before {
    position: relative;
    top: -3px;
    left: -1px;
  }
}
