@import "mixins";

/*responsive undefitied@gmail.com*/
.toShow1024, .toShow800, .toShow600, .toShow480, .toShow320 {
	display: none;
}

@media screen and (max-width: 1310px) {
	.toShow1024 {
		display: block;
	}

	.toHide1024 {
		display: none;
	}

	.width {
		width: 956px;
	}

	.header{
		.header-links {
			margin: 0 0 0 15px;
		}
	}

	.header_nav_main {
		margin: 0 0 0 15px;

		ul li a {
			padding: 15px 10px;
		}
	}

	.header-link {
		span {
			display: none;
		}
	}

	.header-link {
		margin: 0 0 0 15px;

		.fa {
			margin: -10px 0 0;
			font-size: 21px;
		}
	}

	.header_categories_nav {
		.width {
			display: block;
		}

		ul {
			padding: 0;
			float: left;
			display: block;

			li {
				font-size: 14px;

				a {
					padding: 17px 8px 16px;
				}
			}
		}
	}

	.form-section {
		background-image: url(../images/bg_form_mobile.jpg);
		
		&-col {
			width: auto;
			max-width: 800px;
			float: none;

			&:first-child {
				width: auto;
				margin: 0;
			}
		}

		.files-blocks {
			margin: 0 0 0 40px;
		}
	}

	.items-section {
		.section-heading {
			margin: 0 0 15px;
		}
	}

	.set-block {

		.text-type {
			margin: 0 0 14px;
		}

		.image {
			width: 32%;
			height: 237px;
			line-height: 237px;
		}

		.info {
			width: 66%;
		}
	}

	.category-block {
		width: 233px;
		height: 234px;
		line-height: 234px;

		.info {
			padding: 8px 9px 10px;
		}
	}

	.location-blocks {
		.image {
			width: 315px;
		}

		.info {
			padding: 0;
		}
	}

	.item-info {
		&-col {
			width: auto;
			margin: 30px 0 0;
			float: none;

			&:first-child {
				width: auto;
			}
		}
	}

	.categories-block {
		background-position: 0 0;
		padding: 50px 15px;

		&.i1 {
			background-position: right 0;
		}

		&.i2 {
			background-position: -10px 0;
			padding-left: 185px;
		}

		&.i3 {
			padding-left: 22px;
		}
	}

	.delivery-small-block .text-name.f30:after {
		margin-top: 1px;
	}

	.item-slide {
		&-wr {
			width: 33.33333%;
		}
	}

	.delivery-small-block {
		background-position: -222px 0;
		padding: 45px 75px 24px 200px;
	}

	.item-image {
		.mini {
			width: auto;
			height: 60px;
			margin: 10px 0 0;
			padding: 0 1px 0 0;
			float: none;
			white-space: nowrap;

			> .overflow {

				.overflow-auto {
					margin: 0;
					padding: 0 1px 0 0;
				}
			}

			.link {
				width: 80px;
				margin: 0 0 0 9px;
				display: inline-block;
				vertical-align: top;
			}
		}
	}

	.choose-blocks {

		.choose-block {

			&:not(.active) {
				width: 142px;

				.image {
					height: 150px;
					line-height: 150px;

					.label-blocks {
						top: 5px;
						right: 7px;
					}
				}

				.label-block, .text-music, br {
					display: none;
				}
			}
		}
	}

	.choose-block {

	}

	.index_banner__karaoke-professional .index_banner_description .h1 {
		margin: 0 0 14px;
		line-height: 1;
	}

	.index_banner__karaoke-professional .index_banner_pic {
		width: 238px;
	}

	.index_banner__karaoke-professional .index_banner_description {
		width: 678px;
	}

	.index_banner__karaoke-professional .index_banner_description_block_1 {
		width: 474px;
	}
}

@media screen and (max-width: 985px) {
	.toShow800 {
		display: block;
	}

	.toHide800 {
		display: none;
	}

	.width {
		width: 760px;
	}

	.header_nav_main {
		margin: 0;

		ul {

			li {
				&.dropdown {
					a {
						padding-left: 35px;
					}
				}

				&.active {
					a {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}

	.category-block {
		width: 184px;
		height: 184px;
		line-height: 184px;
	}

	.question-block {
		min-width: 0;
		width: 180px;
	}

	.item-image {
		width: auto;
		float: none;
	}

	.item-info {
		width: auto;
		margin: 40px 0 0;
		float: none;

		&-col {
			width: 50%;
			padding: 0 30px 0 0;
			float: left;

			&:first-child {
				width: 50%;
			}
		}
	}

	.categories-block {
		&.i2 {
			padding-left: 15px;
		}

		&.i3 {
			padding-left: 15px;
		}
	}

	.index_banner__karaoke-professional .index_banner_pic {
		width: auto;
		float: none;
		text-align: center;
	}

	.index_banner__karaoke-professional .index_banner_description {
		width: auto;
		float: none;
	}

	.index_banner__karaoke-professional .index_banner_description_block_1 {
		width: 534px;
	}
}

@media screen and (max-width: 785px) {
	.toShow600 {
		display: block;
	}

	.toHide600 {
		display: none;
	}

	.width {
		width: 560px;
	}

	.form-row {
		margin: 16px 0 0;
	}

	.form-col {
		width: 100% !important; // overwrite ALL additional class
		margin: 10px 0 0;

		&:first-child {
			margin-top: 0;
		}
	}

	.category-block {
		width: 276px;
		height: 276px;
		line-height: 276px;
	}

	.categories-block {
		height: 165px;
		padding: 0 15px;
		line-height: 145px;
	}

	.idea-block {
		.inline-table, .table-row, .table-cell {
			display: block;
		}

		.table-cell {
			margin: 30px 0 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}
	
	.delivery-small-block {
		background: url(../images/bg_delivery_small_mobile.jpg) center 0 no-repeat;
		padding: 45px 75px 175px;
	}

	.index_banner__karaoke-professional .index_banner_description_block_1 {
		width: auto;
		padding-bottom: 42px;
		float: none;
	}

	.index_banner_description_block_2 {
		width: auto;
		min-height: 0;
		margin: 15px 0 0;
		float: none;
		text-align: center;
	}


}

@media screen and (max-width: 585px) {
	.toShow480 {
		display: block;
	}

	.toHide480 {
		display: none;
	}

	.width {
		width: auto;
		padding: 0 15px;
	}

	.form-section {
		padding: 15px 0 34px;

		.heading {
			margin: 0 0 15px;
			padding: 0 0 15px;
			border-bottom: 1px solid #b1aeb8;

			.text-title {
				font: 24px/29px @font;
			}
		}

		.form-blocks {
			margin: 18px 0 0;
		}
	}

	.set-block {
		.image {
			width: auto;
			height: 225px;
			margin: 0 0 17px;
			float: none;
			line-height: 225px;
		}

		.info {
			width: auto;
			float: none;
		}

		.text-title.f24 {

		}
	}

	.text-price {
		padding: 4px 6px;
		font: bold 18px/22px @font;

		.fa-rub {
			font-size: 16px;
		}
	}

	.more-block {
		.button-more {
			width: 100%;
			padding: 18px 20px;
			border-width: 0;
		}
	}

	.ideas-section {
		margin: 16px 0 30px;
	}

	.section-divider {
		margin: 26px auto;
	}

	.category-section {
		margin: 16px 0;

		.section-heading {
			margin: 0 0 17px;
		}
	}

	.category-blocks {
		margin: 0;
	}

	.category-block {
		width: auto;
		height: 316px;
		margin: 5px -15px 0;
		display: block;
		line-height: 316px;

		&:first-child {
			margin-top: 0;
		}

		.info {
			padding: 20px 9px 17px;
		}
	}

	.concepts-section {
		margin: 16px 0;

		.section-heading {
			margin: 0 0 20px;

			.text-title {
				margin: 0 0 6px;
				font: 24px/28px @font;
			}
		}
	}

	.concept-blocks {
		margin: 0;
	}

	.concept-block {
		width: auto;
		margin: 19px 0 0;
		padding: 0;
		display: block;

		&:first-child {
			margin-top: 0;
		}

		.text-arrow {
			margin: 0 25px 14px 0;

			.span {
				min-height: 54px;

				&:before {
					border-width: 27px 0 27px 25px;
				}
			}
		}
	}

	.location-section {

	}

	.location-blocks {
		padding: 37px 0 0;

		.image {
			width: auto;
			margin: 0 0 16px;
			float: none;
			text-align: center;
		}

		.text-title.f21 {
			margin: 0 0 6px;
		}

		.image-metro {
			margin: 11px 0 0;
		}
	}

	.question-section {
		margin: 33px 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.question-blocks-wr {
		margin: 0 -15px;
		padding: 29px 15px 27px;
	}

	.question-block {
		width: auto;
		min-height: 65px;
		margin: 35px 0 0;
		padding: 0 0 0 90px;
		display: block;
		line-height: 65px;
		text-align: left;

		&:first-child {
			margin-top: 0;
		}

		&:before {
			margin: 0;
			-webkit-transform: scale(0.7);
			top: -16px;
			left: -6px;
		}

		.text-name {
			margin: 0;
		}
	}

	.text-title.with-border {
		padding: 0 0 8px;
	}

	.section-heading {
		.text-title.with-border {
			margin: 0 0 15px;
		}
	}

	.ideas-section {
		.section-heading {
			margin: 0 0 20px;
		}
	}

	.idea-blocks {
		margin: 0;
	}

	.idea-block {
		width: auto;
		margin: 21px 0 0;
		padding: 0;
		display: block;

		&.float-left {
			float: none;
		}

		&:first-child {
			margin-top: 0;
		}

		.image {
			margin: 0 0 4px;
		}

	}

	.item-section {
		padding: 19px 0 0;
	}

	.item-main {
		.text-name.f27 {
			margin: 0 0 8px;
		}
	}

	.item-image {
		margin: 10px 0 0;

		.main {
			height: 195px;
			line-height: 195px;
		}

		.mini {
			margin: 17px 0 0;

			.link {
				width: 77px;
			}
		}
	}

	.item-info {
		margin: 0;

		.button-music {
			margin: 18px 0 0;
		}

		.link-texts {
			margin: 18px 0 0;
		}
	}

	.item-slider {
		.uf-slider {
			padding: 0;
		}

		.uf-arrow {
			top: 93px;
		}

		.uf-slide {
			.item-slide {
				margin: 0;
			}
		}
	}

	.uf-arrow {
		width: 22px;
		height: 38px;
		margin: -19px 0 0;

		&.prev {
			.icons(0, -1552px);
			left: -5px;
		}

		&.next {
			.icons(0, -1600px);
			right: -5px;
		}
	}

	.categories-section {

		+ .grid-section {
			margin: 0;
		}
	}

	.idea-block {
		&.w-half {
			width: 100%;
		}
	}

	.choose-blocks {
		.choose-block {
			width: 278px;
		}
	}

	.index_banner__karaoke-professional .index_banner_description .h1 {
		text-align: center;
	}

	.index_banner__karaoke-professional {
		.quote_author_pic {
			margin: 0 20px 0 0;
		}

		.quote_footer .quote_author {
			float: none;
		}

		.quote_footer .btn {
			margin: 10px 0 0;
			float: none;
		}
	}
}

@media screen and (max-width: 465px) {
	.toShow320 {
		display: block;
	}

	.toHide320 {
		display: none;
	}

	.header .header-links.toHide320 {
		display: none;
	}

	.phone_number {
		font-size: 18px;
	}

	.header_mobile_menu {
		margin: 0 -15px 0 0;
	}

	.text-type {
		padding: 20px 0 20px 58px;
		font: 16px/20px @font;

		.span {
			padding: 0 4px 1px 7px;

			&:before {
				border-width: 11px 0 9px 11px;
			}
		}

		.fa {
			width: 60px;
			height: 60px;
			line-height: 60px;

			&:before {
				-webkit-transform: scale(0.6);
			}

			&.my-icon-2 {
				&:before {
					position: relative;
					top: -9px;
				}
			}

			&.my-icon-3 {
				&:before {
					position: relative;
					top: -3px;
					left: -1px;
				}
			}
		}
	}

	.item-main {
		margin: 0 0 23px;
	}

	.item-info {
		&-cols {
			margin: 0 0 20px;
			padding: 0 0 19px;
		}

		&-col {
			width: auto;
			margin: 18px 0 0;
			padding: 0;
			
			&:first-child {
				width: auto;
			}
		}
	}

	.icon-texts {
		.text-icon {
			width: 100%;
		}
	}

	.item-slider {
		+ .categories-section {
			margin-top: 0;
		}
	}

	.categories-blocks {
		margin: 0 -15px;
		overflow: auto;
		white-space: nowrap;
	}

	.categories-block {
		&-wr {
			width: 176px;
			margin: 0 0 30px 4px;
			padding: 0;

			&:first-child {
				margin: 0;
			}
		}
	}

	.item-slides {
		margin: 0;
	}

	.item-slide {
		&-wr {
			width: 100%;
			margin: 30px 0 0;
			padding: 0;
			border-top: 1px solid #d6d6d6;

			&:first-child {
				margin: 0;
				border-top: none;
			}
		}
	}

	.iframe {
		height: 165px;
	}

	.delivery-small-block {
		margin: 0 -15px;
		padding: 39px 15px 177px;
		text-align: center;

		.text-name.f30 {
			margin: 0 0 24px;

			&:after {
				display: none;
			}
		}
	}

	.choose-blocks {
		.choose-block {
			width: 148px;
			margin: 4px 0 0 4px;

			.image {
				height: 150px;
				line-height: 150px;

				.label-blocks {
					top: 5px;
					right: 5px;
				}
			}
		}
	}

	.item-image {
		.choose-blocks {
			margin-top: 12px;
		}
	}

	.item-info {
		.button-music {
			+ .button-music {
				margin-left: 20px;
			}
		}
	}

	.index_banner__karaoke-professional {
		text-align: center;

		.quote_author_pic {
			margin: 0 auto 25px;
			float: none;
		}
	}
}